.container {
  padding-top: 48px;
  padding-bottom: 96px;

  @media (max-width: 768px) {
    .img {
      display: none;
    }
  }

  h2 {
    font-size: 28px;
    font-weight: 400;
  }
  h3 {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
  }

  span {
    font-weight: 300;
  }
}
